.loginMain{
    form.login{
        width: 400px;
        margin-top:10%; 
        border: 1px dashed#ddd;
        padding: 38px;
        .login-label{
            margin-bottom: 40px;
        }
    }
    
 }